img {
  max-width: 100%;
}

iframe {
  max-width: 100%;
  max-height: 100%;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.centerclass {
  align-items: center;
}

/* -- 1 -- */
.contact-info-layer {
  background-color: #424949;
  padding-top: 12px;
  padding-bottom: 12px;
}

a.contact-info:link, a.navbar-white:visited {
  color: white;
  font-weight: bold;
}

a.contact-info:hover, a.navbar-white:active {
  color: #CDCDCD;
  font-weight: bold;
  text-decoration: none;
}

.telstevilka {
  margin-left: 160px;
}

.emajl {
  margin-left: 50px;
}

p {
  font-weight: bold;
}

.row {
  width: 100%;
}
/* -- 2 -- */
.icon {
  display: none;
  color: white;
}

.icon:hover {
  color: #CDCDCD
}

.topnav {
  background-color: #313131;
}

.shape-logo {
  font-weight: bold;
  color: white;
  font-size: 45px;
}

a.navbar-white:link, a.navbar-white:visited {
  color: white;
  font-weight: bold;
}

a.navbar-white:hover, a.navbar-white:active {
  color: #CDCDCD;
  font-weight: bold;
  text-decoration: none;
}

a.navbar-gray:link, a.navbar-gray:visited {
  color: gray;
  font-weight: bold;
}

a.navbar-gray:hover, a.navbar-gray:active {
  color: #585858;
  font-weight: bold;
  text-decoration: none;
}

div.orange-hover:hover {
  border-top: 5px red solid;
}

div.orange-hover {
  border-top: 5px #313131 solid;
}

/* -- 3 -- */
div.handcrafted {
  background-image: url("https://cdn.corporatefinanceinstitute.com/assets/home-office1.jpeg");
  background-size: cover;
}

p.handcrafted {
  padding-top: 400px;
  padding-bottom: 400px;
  color: white;
  font-size: 66px;
}

/* -- 4 -- */
.informaton-layer {
  background-color: #F1F1F1;
}

p.information-text-main {
  text-align: center;
  font-size: 28px;
  color: #4F4F4F;
  padding-bottom: 20px;
  padding-top: 45px;
}

p.information-text-under {
  padding-top: 10px;
  font-size: 15px;
  color: #9C9C9C;
}

p.information-text-under-last {
  padding-top: 10px;
  padding-bottom: 45px;
  font-size: 15px;
  color: #9C9C9C;
}

/* -- 5 -- */
div.nopadding {
  padding: 0;
}

/* -- 6 -- */
.sest {
  padding-top: 65px;
  padding-bottom: 35px;
  color: #9C9C9C;
}

.ekipa-text {
  font-size: 25px;
  padding-bottom: 40px;
  color: #4F4F4F;
}

.ekipa-text-ime {
  color: #FF4200;
}

.ekipa-text-naziv {
  color: #313131;
}

.clovek {
  border-radius: 50%;
  max-height: 80%;
}

/* -- 7 -- */
.sedem {
  padding-top: 45px;
}

div.no-padding {
  padding: 0;
}

.customer-comment {
  background-color: #F1F1F1;
  text-align: center;
}

.customer-name {
  color: #FF4200;
}

.customer-text {
  font-size: 30px;
  color: #4F4F4F;
}

/* -- 8 -- */
p.stranke {
  font-size: 26px;
  padding-top: 45px;
  color: #4F4F4F;
}

.stranke {
  display: flex;
  justify-content: center;
}

div.logo {
  transform: rotate(45deg);
  outline: 1px solid;
  padding: 0;
}

.logo {
  transform: rotate(315deg);
}

/* -- 9 -- */
div.typing {
  background-image: url("https://ak.picdn.net/shutterstock/videos/26959207/thumb/4.jpg");
  background-size: cover;
}

p.typing {
  padding-top: 200px;
  padding-bottom: 500px;
}

/* -- 10 -- */
.deset {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F1F1F1;
  font-size: 25px;
}

.button-text {
  padding: 60px;
}

.getintouch-text {
  color: #9C9C9C;
}

.text-padding {
  padding: 8px;
}

/* -- 11 -- */
.footer {
  background-color: #424949;
  color: white;
  padding-top: 60px;
  padding-bottom: 30px;
}

.blog {
  background-color: #303030;
  text-align: center;
  padding-top: 20px;
}

.blog-main-text, .title {
  color: #9C9C9C;
}

img.blog {
  width: 25%;
}

.telefon {
  padding-bottom: 30px;
}

.address {
  padding-top: 40px;
}

hr.last-hr {
  margin: 0;
  border: solid 1px #5f6969;
}

/* -- 12 -- */
.last-layer {
  background-color: #424949;
  color: #5f6969;
}

p.last-layer {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* -- RESPONSIVE NAVBAR -- */
@media screen and (max-width: 770px) {
  .topnav a, div.orange-hover {
    display: none;
  }
  .topnav a.icon, .centerclass {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 770px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 30px;
  }
  .topnav.responsive a, .topnav.responsive div.orange-hover {
    float: none;
    display: block;
    text-align: left;
    padding-left: 10px;
  }

  .shape-logo {
    padding-left: 10px;
  }
}
